body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f7f7f7 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: rgba(0, 0, 0, 87);
    text-decoration: none;
}

.MuiButton-root {
    line-height: 1.2 !important;
}

.titleBack {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: #eee;
    border-bottom: 1px solid #bbb;
}

.titleBack .title {
    padding-left: 20px;
}

.footerBox {
    background-color: #333333;
    color: white;
    height: 70px;
    padding: 20px;
    margin-top: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mainContainer {
    display: flex !important;
    flex-direction: column;
    min-height: 100vh;
}

.pageContent {
    margin-bottom: 30px;
}

.header {
    padding: 30px 30px 10px;
    min-height: 10px;
}

#uniqueButton {
    color: black;
    margin-right: 16px;
}

.paginationBox {
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}

.paginationBox .MuiBox-root {
    display: flex;
}

.paginationBox .MuiBox-root .MuiTextField-root {
    width: 70px;
    margin-left: 10px;
}

.header a {
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.02857em;
}

.header a:hover {
    background-color: #f5f5f5;
}

.header a.active {
    background-color: #d8d8d8;
    cursor: auto;
}